name: Build, Test, and Deploy

on:
  push:
    branches:
      - main
      - feat/cicd
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build Application
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Start container
        run: docker compose up -d --build